body{
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px #000000;
    background-image: url(./img/fundo.gif);
    background-attachment: fixed, scroll;
    background-repeat: no-repeat;
    background-size: cover;


}
#content{
    width: 940px;
    height: 530px;
    margin:50px auto;
    background-image:url(./img/backg2.png);
    background-size: cover;
    background-color:transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    color:white;

}
h1{
    font-size: 25px;
    letter-spacing: 2px;

}
h2{
     font-size: 15px;
     letter-spacing: 2px;

}
p{
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 15px;


}
#caixa1{
    width: 600px;
    display: flex;
    flex-direction: row;
    height: 60px;
    color: white;
    padding: 5px 20px 20px 20px;
}
#caixa1 textarea{
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    border-radius: 10px;
    text-align: center;
}

#caixa1 fieldset{
    text-align: center;
    margin-left: 10px;
    border: none;
}
#caixa1 select{
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    border-radius: 10px;
}

#codebox {
    color: white;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    border-radius: 10px;
    text-align: center;
    border: none;
}
#metododiv{
    font-size: 8px;
    margin-bottom: 10px;
}
 #botao{
    width: 120px;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
    transition: 1s all;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    font-family: sans-serif;

}
#botao:hover{
    background-color:darkslategray;
    transform: scale(1.2);
}


#messagebox{
    padding: 3px;
    padding-left: 20px;
    width: 600px;
    height: 50px;
    margin: 8px auto;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


@media screen and (max-width:435px) {
    #content{
        width: 380px;
        margin:100px auto;
        background:none;
    }
    #info{
        width: 300px;
        color:white;
    
    }
    h1{
        font-size: 15px;
        letter-spacing: 2px;
    
    }
    h2{
         font-size: 0.8em;
         letter-spacing: 2px;
    
    }
    p{
        font-size: 0.6em;
        letter-spacing: 2px;
        line-height: 15px;
    
    
    }
    #caixa1{
        width: 300px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        height: 200px;
        color: white;
        padding: 0 10px;
    }
    #incremento{
        margin-bottom: -20px;
    }

    #codebox {
        width: 300px;
        color: white;
        margin: 1px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #metododiv{
        font-size: 0.5 em;
        padding: 10px;
    }



    #messagebox{
        padding: 3px;
        padding-left: 20px;
        width: 300px;
        height: 300px;
        margin: 8px auto;
    }
}