body{
    margin: 0;
    background: linear-gradient(to right, hsl(0, 0%, 0%),hsl(0, 91%, 27%), hsl(0, 0%, 0%));
    background-size: contain;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px 4px #000000;

}
#content{
    width: 940px;
    height:530px;
    margin:50px auto;
    background-image:url(./img/backg.png);
    background-size: 940px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#info{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 700px;
    color:white;

}
h1{
    font-size: 25px;
    letter-spacing: 2px;

}
h2{
     font-size: 15px;
     letter-spacing: 2px;

}
p{
    font-size: 10px;
    letter-spacing: 2px;
    line-height: 15px;


}
#caixa1{
    width: 600px;
    display: flex;
    flex-direction: row;
    height: 60px;
    color: white;
    padding: 5px 20px 20px 20px;
}
#caixa1 textarea{
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    border-radius: 10px;
    text-align: center;
}

#caixa1 fieldset{
    text-align: center;
    margin-left: 10px;
    border: none;
}
#caixa1 select{
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    border-radius: 10px;
}
#codebox {
    color: white;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    border-radius: 10px;
    text-align: center;
    border: none;
}
 #submit{
    width: 70px;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );

}
#messagebox{
    padding: 3px;
    padding-left: 20px;
    width: 600px;
    height: 50px;
    margin: 8px auto;
    background-color: transparent;
    box-shadow: 0 8px 32px 0 rgb(0, 0, 0);
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px doubler rgb(46, 188, 100); 
    color: white;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
